---
import Layout from '~/layouts/PageLayout.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import Calendar from '~/components/widgets/Calendar.astro';
import type { Post } from '~/types';

const metadata = {
 title: 'Events',
};

interface Props {
  id?: string;
  title: string;
}


---


<Layout metadata={metadata}>
  <WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-5xl ${classes?.container ?? ''}`} bg={bg}>
   <Headline title={title} subtitle={subtitle} tagline={tagline} classes={classes?.headline} />
 
   <div id={id} class="bg-gray-100 dark:bg-gray-800 p-4 rounded-md">
    <h2 class="text-xl">{title}</h2>
    <Calendar />
  </div>
  </WidgetWrapper>
 </Layout>
 
